<div class="container">
    <div class="row">
        <h1>Thank you for reserving tickets with Praeses Theater Inc.!</h1>
    </div>
    <div class="row">
        <p>Your tickets will be emailed to you shortly at {{email}}.  If you do not receive the email within 24 hours, please call customer service at 1-800-emails_not_implemented.</p>
    </div>
</div>