<div class="container">
    <div class="col row">
        <form action="/clear_res">
        <legend>Dev Tools</legend>
            <input class="btn btn-primary" type="submit" value="clear all reservations"/>
        </form>
    </div>
</div>