<div class="container">
    <div class="col">
        <form action="http://localhost:8081/clear_res">
            <input class="btn btn-primary" type="submit" value="clear all reservations"/>
        </form>
    </div>
</div>