<div class="container">
    <main>
        <div class="row">
            <h1>Praeses Theater Inc</h1>
        </div>
        <div class="row">
            <h4>Intructions for Nagivating Website</h4>
        </div>
        <div class="row">
            <ol>
                <li>Click the "Movies" link in the navbar to see the list of movies and showtimes.</li>
                <li>Click a showtime to see a seating chart for that showing.</li>
                <li>Seats that are dark gray are available and seats that are a light gray are already reserved.</li>
                <li>Click on available seats to select or unselect them.</li>
                <li>When you have made your selections, click the reserve seats button at the bottom left of the seating chart.</li>
                <li>On the checkout page, enter your email address in each form input and click the submit button to reserve your seats.</li>
                <li>If you wish to edit your selected seats, click the edit button to return to the previous page.</li>
                <li>The "Dev Tools" link will allow you to clear all reservations for testing purposes.</li>
            </ol>
        </div>
    </main>
</div>