<div class="container">
    <div class="row">
        <h1>Movies</h1>
    </div>
    <div class="row">
        {{!-- Theater 1 --}}
        <div class="col-sm-4 movie-listing">
            <div>
                <h3>The Adventures of JO</h3>
            </div>
            <div>
                <h6>Showtimes</h6>
            </div>
            <div>
                <ul>
                    <li><a href="http://localhost:8081/movies/1/124500">12:45</a></li>
                    <li>3:00</li>
                    <li>6:15</li>
                </ul>
            </div>
        </div>
        {{!-- Theater 2 --}}
        <div class="col-sm-4 movie-listing">
            <div>
                <h3>Attack of the BT Apps!</h3>
            </div>
            <div >
                <h6>Showtimes</h6>
            </div>
            <div>
                <ul>
                    <li>1:00</li>
                    <li>3:30</li>
                    <li>7:00</li>
                </ul>
            </div>
        </div>
        {{!-- Theater 3 --}}
        <div class="col-sm-4 movie-listing">
            <div>
                <h3>The Lost Calls of CSD</h3>
            </div>
            <div>
                <h6>Showtimes</h6>
            </div>
            <div>
                <ul>
                    <li>2:45</li>
                    <li>6:45</li>
                </ul>
            </div>
        </div>
    </div>
</div>