<div class="container">
    <div class="row">
        <h1>Movies</h1>
    </div>
    <div class="row">
        {{!-- Theater 1 --}}
        <div class="col-sm-4 movie-listing">
            <div>
                <h3>The Adventures of JO</h3>
            </div>
            <div>
                <h6>Showtimes</h6>
            </div>
            <div>
                <ul>
                    {{!-- url is seats/theater_num/time in HHMMSS format --}}
                    <li><a href="http://localhost:8081/seats/1/124500" >12:45</a></li>
                    <li><a href="http://localhost:8081/seats/1/033000" >03:30</a></li>
                    <li><a href="http://localhost:8081/seats/1/061500" >06:15</a></li>
                </ul>
            </div>
        </div>
        {{!-- Theater 2 --}}
        <div class="col-sm-4 movie-listing">
            <div>
                <h3>Attack of the BT Apps!</h3>
            </div>
            <div >
                <h6>Showtimes</h6>
            </div>
            <div>
                <ul>
                    <li><a href="http://localhost:8081/seats/2/010000" >01:00</a></li>
                    <li><a href="http://localhost:8081/seats/2/033000" >03:30</a></li>
                    <li><a href="http://localhost:8081/seats/2/070000" >07:00</a></li>
                </ul>
            </div>
        </div>
        {{!-- Theater 3 --}}
        <div class="col-sm-4 movie-listing">
            <div>
                <h3>The Lost Calls of CSD</h3>
            </div>
            <div>
                <h6>Showtimes</h6>
            </div>
            <div>
                <ul>
                    <li><a href="http://localhost:8081/seats/3/024500" >02:45</a></li>
                    <li><a href="http://localhost:8081/seats/3/064500" >06:45</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>