<div class="container">
    <div class="row justify-content-center">
        <h1>Screen</h1>
    </div>

    <div class="row">
    <table class="col table" id="seat_table">
        <tbody>
            <tr>
                <td>A</td>
                <td class="seat" id="A1"><button class="btn" onclick="toggle_seat(this)">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>B</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>C</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>D</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>E</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>F</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>G</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>H</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
            <tr>
                <td>I</td>
                <td class="seat"><button class="btn">1</button></td>
                <td class="seat"><button class="btn">2</button></td>
                <td class="seat"><button class="btn">3</button></td>
                <td class="seat"><button class="btn">4</button></td>
                <td class="seat"><button class="btn">5</button></td>
                <td class="seat"><button class="btn">6</button></td>
                <td class="seat"><button class="btn">7</button></td>
                <td class="seat"><button class="btn">8</button></td>
                <td class="seat"><button class="btn">9</button></td>
                <td class="seat"><button class="btn">10</button></td>
                <td class="seat"><button class="btn">11</button></td>
                <td class="seat"><button class="btn">12</button></td>
                <td class="seat"><button class="btn">13</button></td>
                <td class="seat"><button class="btn">14</button></td>
                <td class="seat"><button class="btn">15</button></td>
                <td class="seat"><button class="btn">16</button></td>
                <td class="seat"><button class="btn">17</button></td>
                <td class="seat"><button class="btn">18</button></td>
                <td class="seat"><button class="btn">19</button></td>
                <td class="seat"><button class="btn">20</button></td>
            </tr>
        </tbody>
    </table>
        </div>
</div>
