
<script src="../../javascript/seating_chart.js"></script>
<div id="main" class="container">
    <div class="row justify-content-center">
        <h3 id="title_time"></h3>
    </div>
    <div class="row justify-content-center">
        <h1>Screen</h1>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table" id="seat_table">
                <tbody id="seat_tbody">
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button id="reserve_btn" class="btn btn-primary">Reserve Seats</button>
        </div>
    </div>
</div>
