<div class="container">
    <div class="row">
        <h1>Sorry about the inconvenience.</h1>
    </div>
    <div class="row">
        <p>It looks like someone else reserved those seats already.  Please click continue to return to the seating chart.</p>
    </div>
    <div class="row">
        <a href="/seating_chart?theater={{theater}}&time={{time}}"  >Continue to Seating Chart</a>
    </div>
</div>