<script src="../../javascript/seating_chart.js"></script>
<div class="container">
    <div class="row justify-content-center">
        <h1>Screen</h1>
    </div>

    <div class="row">
        <table class="col table" id="seat_table">
            <tbody id="seat_tbody">
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary" onclick="reserve_seats(1)">Reserve Seats</button>
        </div>
    </div>
</div>